:root {
  --color: whitesmoke;
  --background: #1b1b1b;
  --primary: palegreen;
  --secondary: #252525;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--color);
  background-color: var(--background);
}
.containor {
  width: 50%;
  margin: 0 auto;
}
.navBtns > .active {
  color: var(--primary);
}
nav {
  padding: 25px 0;
}
.navBtns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navBtns > a {
  text-decoration: none;
  color: var(--color);
}
.form_register {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form_register > input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  color: var(--color);
  background-color: var(--secondary);
  border-radius: 5px;
}
.form_register > button {
  padding: 10px;
  font-size: 1rem;
  font-style: italic;
  width: 200px;
  border-radius: 5px;
  border: none;
  color: var(--background);
  background-color: var(--primary);
  cursor: pointer;
}

/* ---------- */
/* responsive */
/* ---------- */
@media screen and (max-width: 1024px) {
  .containor {
    width: 80%;
  }
}
