:root {
  --color: whitesmoke;
  --background: #1b1b1b;
  --primary: palegreen;
  --secondary: #252525;
  --success: green;
  --warning: yellow;
  --error: crimson;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--color);
  background-color: var(--background);
}
nav {
  padding: 20px 0;
}
.active {
  color: var(--primary) !important;
}
.containor {
  width: 50%;
  margin: 0 auto;
}
.navBtns {
  display: flex;
  gap: 10px;
}
.navBtns > a {
  color: var(--color);
  text-decoration: none;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.blogs > article {
  padding: 10px;
  background-color: var(--secondary);
  border-radius: 4px;
  position: relative;
}
.blogs > article > h1 {
  color: var(--primary);
}
form.create_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.create_form > input,
.create_form > textarea {
  color: var(--color);
  background-color: var(--secondary);
  border: none;
  padding: 10px;
  font-size: 1rem;
  resize: none;
}
.create_form > textarea {
  height: 100px;
}
.create_form > input:focus-visible,
.create_form > textarea:focus-visible {
  border: none;
  outline: none;
}
.create_form > button {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  width: 250px;
  padding: 10px;
  cursor: pointer;
}
.article_actions {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
}
.article_actions > button {
  border: none;
  color: var(--error);
  background-color: transparent;
  font-size: 1.8rem;
  display: flex;
  cursor: pointer;
}
.article_actions > a {
  color: var(--success);
  font-size: 1.5rem;
  display: flex;
}
/* ------------- */
/* responsivenes */
/* ------------- */
@media screen and (max-width: 980px) {
  .containor {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .blogs {
    grid-template-columns: 1fr;
  }
  .create_form > button {
    width: 100%;
  }
}
